input[type=submit], button
{
    background-color: #228B22; /*Green*/
    color: white;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    box-sizing:border-box;
}

input[type=text]
{
    width: 60%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.unsavedInput {
    background: url("../resource/edit.png") no-repeat scroll right center;
}


form
{
    display:inline;
}

table
{
    width:100%;
    max-height: 30em;
    overflow: auto;
}

th
{
    background-color:white;
    padding: 0.6em;
}

th, td 
{
    flex: 1;
    overflow: hidden;
    margin: auto;
}

td tr:nth-child(even)
{
    background-color:#EEEEEE;
}

#dayList>tr:nth-child(4n-1), #scheduleList>tr:nth-child(4n+1)
{
    background-color:#EEEEEE;
}

:not(#dayList):not(#scheduleList)>tr:nth-child(even)
{
    background-color:#EEEEEE;
}

    
.col
{
    text-align:center;
}