table
{
    width:100%;
}

table, thead, tbody 
{
    vertical-align:middle;
}

th
{
    background-color:white;
    padding: 0.6em;
}

th, td 
{
    flex: 1;
}

tr:nth-child(even)
{
    background-color:#EEEEEE;
}
    
.col
{
    text-align:center;
}

input[type=submit]
{
    background-color: #228B22; /*Green*/
    color: white;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    box-sizing:border-box;
}

form
{
    display:inline;
}