input[type=text]
{
    width: 60%;
    border: 1px solid #ccc;
    padding: 0.5em;
    height:100%;
    box-sizing:border-box;
}
	
input[type=submit]
{
    background-color: #228B22; /*Green*/
    color: white;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    box-sizing:border-box;
}

.unsavedInput {
    background: url("../resource/edit.png") no-repeat scroll right center;
}

form
{
    display:inline;
}

table
{
    width:100%;
}

tr:nth-child(even)
{
    background-color:#EEEEEE;
}

.col
{
    text-align:center;
}