html {
	font-family: 'Roboto', sans-serif; 
}

.iconContainer
{
    display:flex;
    height:2em;
    line-height: 100%;
    align-items: center;
}

.iconContainer span, label

{
    padding-left: 0.2em;
    display:inline-flex;
    align-items:center
}

.errorMessage
{
    color: red;
}

input [type=date]
{
    
}