input[type=submit], button
{
    background-color: #228B22; /*Green*/
    color: white;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    padding: 0.5em;
    box-sizing:border-box;
}

.blockRow
{
    background-color: #FAFAFA;
}

.bookingRow
{
    background-color: #DDDDDD;
}

#dateInputs
{
    display:inline;
}

.selectContainer
{
    float:left;
    width:50%;
}

.inputContainer
{
    display:inline-block;
    width:100%;
}

.multiSelect
{
    overflow:hidden;
    overflow-y:scroll;
    outline: 1px solid black;
    text-align: left;
    width:100%;
}

label 
{
    width:100%;
    display:block;
    border: 1px solid gray;
    border-collapse: collapse;
}

#rooms
{
    height: 15em;
}

#blocks
{
    height:8em;
}

.col
{
    text-align:center;
}

table
{
    width:100%;
    display:table;
    border: 1px solid black;
}

.tableContainer
{
    min-height:30em;
}

td
{
    outline: 1px solid gray;
}