html	{
font-family: Roboto, sans-serif; 

}

hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 2.5px solid #228B22;
    margin: 1em 0;
    padding: 0; 

}

h2 {
	font-size: 32px;
	
}

h1 {
	font-size: 45px;
	
}

h3 {
	font-size: 20px;
	
}
body {
	
margin-top: 40px;
margin-bottom: 40px;
margin-right: 200px;
margin-left: 200px;
}

.title {
	text-align: center;
	
}
#toc_container {
    background: #f9f9f9 none repeat scroll 0 0;
    border: 1px solid #aaa;
    display: table;
	margin-left: auto;
	margin-right: auto; 
    font-size: 95%;
    margin-bottom: 1em;
    padding: 20px;
    width: auto;
}

.toc_title {
    font-weight: 700;
    text-align: center;
}

.toc_subtitle {
    font-weight: 700;
    
}

#toc_container li, #toc_container ul, #toc_container ul li{
    list-style: outside none none !important;
    
}

.howtoregister {

	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
	
}

 
.confirmation {
	height: 50%;
    width: 50	%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
	
}

.searchselections {
	
	height: 30%;
	width: 30%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
	
}

.showblocks {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.showbookings {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.bookbutton {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.bookedmessage {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.cancel {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.bookinghistory {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.editschedules {
	
	height: 75%;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.blockstable {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.schedulestable {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.daystable {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.exceptionstable {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.editrooms {
	
	height: 75%;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.roomstable {
	
	height: 40%;
	width: 40%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.editusers {
	
	height: 75%;
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;
}

.userstable {
	
	height: 50%;
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto; 
	border:1px solid #021a40;
	box-shadow: 0px 3px 17px #888888;