
	/* Full-width input fields */
input[type=text], input[type=password] {
    width: 60%;
    border: 1px solid #ccc;
    padding-left: 1em;
    height:100%;
    box-sizing:border-box;
    float:left;
}
	
input[type=submit]
{
    background-color: #228B22; /*Green*/
    color: white;
    padding: 4%;
    margin: 3% 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

#registrationContainer
{
    line-height: 2em;
}

.inputIcon
{
    float: left;
    width:1em;
    height:1em;
    padding:0.2em;
    display:inline-block;
    vertical-align:middle;
    padding:auto;
}